@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Barlow Condensed';
}

#navbar {
	background-color: hsla(39,100%,95%,1.00);
}

.blankdiv1 {
	padding: 20px;
}

/*-----------------banner (newsletter)-----------------*/

#banner {
	background-image:url("images/NewsletterBG_new.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	
}

.bannerbox {
	padding: 0px 20px;
}
#homeme {
	height:auto;
	width: 30%;
}

#signup {
	background-color: blanchedalmond;
	height: 200px;
	width: 300px;
	padding: 0px 20px;
}

/*-----------my works------------------------*/

.myworksleft {
	background-color: #f4efec;
	padding: 40px 0px;
	width: 100%;
	line-height: 20px;
}

.myworksright {
	background-color: #f4efec;
	padding: 40px 0px;
	width: 100%;
	line-height: 20px;
}



@media (min-width:767px) and (max-width:1054px) {
	.myworksleft {
	font-size: 2.5vw;	
	}
	
	.myworksright {
	font-size: 2.5vw;		
	}
}

@media (min-width:1054px) {
	.myworksleft{
		font-size: 25px;
	}
	.myworksright{
		font-size: 25px;
	}
}

@media (max-width:767px) {
	.myworksleft{
		font-size: 25px;
	}
	.myworksright{
		font-size: 25px;
	}
}

/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: dimgrey;
}

/* mouse over link */
a:hover {
  color: saddlebrown;
	text-decoration: none; 
}

/* selected link */
a:active {
  color: rosybrown;
}



/* mouse over link */
.myworksimg:hover {
	opacity: 0.5;
	 
}


/*----------------footer1------------*/

.footer1 {
	background-color: #d7c7ba;
	height: 60px;
	font-size: 13px;
	align-content: center;
	padding-top: 15px;
	
}

.footer .col ul {
 
  margin: 10px;
  padding: 10px;
}
.social ul li {
  display: inline-block;
  padding-right: 10px !important;
}

.sociallogo ul li {
  display: inline-flex;
	float: right;
  padding-right: 10px !important;


}

@media (max-width:360px) {
	.footer1 {
		height: 60px;
	}
	.social ul li {
		font-size: 11px;
		
	}
	
	.sociallogo ul li {
		display: inline-flex;
		float: right;
		padding-right: 10px !important;
		padding-bottom:10px;
	}
	
	.sociallogossmall {
		height: 13px;
		width: 13px;
}
}

@media (max-width:359px) {
	.footer1 {
		height: 55px;
	}
	.social ul li {
		font-size: 9px;
		
	}
	
	.sociallogo ul li {
		display: inline-flex;
		float: right;
		padding-right: 10px !important;
		padding-bottom:10px;
	}
	
	.sociallogossmall {
		height: 10px;
		width: 10px;
}
}